/* L'écriture de la page est complètement en "Raleway" par défaut et le box-sizing est appliqué à toute la page pour les navigateurs les plus fréquemment utilisés */

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/* Methode DRY */

.color_black {
    color: black;
}

.color_blue {
    color: #0065FC;
}

.color_grey {
    color: #F2F2F2;
}

.background_grey {
    background-color: #F2F2F2;
}

.background_white {
    background-color: white;
}

.border_grey {
    border: 1px solid  #F2F2F2;
}

.border_grey_deep {
    border: 1px solid #d9d9d9;
}

.border_white {
    border: 10px solid white;
}

.border_color_nav_hebergement {
    border-top: 3px solid #0065FC;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.justify_space_between {
    justify-content: space-between;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.object_cover {
    object-fit: cover;
}

.height_search {
    height: 99px;
}

.bottom_0px{
    bottom: 0px;
}

.width_100_percent {
    width: 100%;
}

.margin_top_2_percent {
    margin-top: 2%;
}

.margin_bottom_2_percent {
    margin-bottom: 2%;
}

.card_pop {
    margin-bottom: 8%;
}

.card_pop_bleu_blanc {
    margin-bottom: 2%;
}

.img_pop {
    margin: 0 6% 0 0;
    border-radius: 40px 0 0 40px / 40px 0 0 40px; 
}

.width_img_pop {
    max-width: 250px;  
}

.height_img_pop {
    height: 270px;
}

.width_propos {
    width: 90%;
}

.width_heb {
    width: 90%;
}

.padding_left_footer_propos {
    padding-left: 13%;
}

.padding_left_footer_heb {
    padding-left: 6%;
}

.padding_left_footer_assist {
    padding-left: 4%;
}

.padding_top_footer_assist {
    padding-top: 3.6%;
}

h2 {
    font-size: 37px;
}

.border_radius_inside_main {
    border-radius: 50px / 50px;
}

.border_radius_img_act {
    border-radius: 50px 50px 0 0 / 50px 50px 0 0;
}

.border_radius_img_heb {
    border-radius: 40px 40px 0 0 / 40px 40px 0 0;
}

.shadow_box_heb {
    box-shadow: 0px 4px 12px 5px #e4e4e4;
}

.shadow_box_pop {
    box-shadow: 0px 4px 11px 4px #e4e4e4;
}

.shadow_box_act {
    box-shadow: 0px 4px 10px 6px #f0f0f0;
}

.shadow_deep_heb {
    box-shadow: 0px 4px 20px 11px #e4e4e4;
}

/* Pour avoir une meilleure visibilité sur les éléments de la page web */

div {
    border: 1px solid black;
}

div#logo {
    border: 3px solid hotpink;
}

p {
    border: 1px solid violet;
}

aside {
    border: 1px solid green;
}

section {
    border: 1px solid aqua;
}

figure {
    border: 1px solid green;
}

/* Pour pouvoir centrer la page par rapport à sa largeur et hauteur */

div#block_page {
    width: 2880px;
    margin: auto;
}

div#block_center_logo_nav {
    padding: 0 4% 0 4%;
}

div.block_center {
    padding: 0 4.5% 0 4.5%;
}

/* Bloc contenant le logo */

div#logo {
    height: 150px;
    width: 50%;
    padding-left: 0.5%;
}

/* Taille du logo */

div#logo img {
    width: 150px;
    height: 70px;  
}

/* Le menu du nav */

.menu {
    height: 150px;
    width: 50%;
}

/* Comportement et disposition des éléments du nav */

.menu {
    justify-content: flex-end;
}

/* Les élément du menu nav ont un espace vers la gauche */

a {
    font-size: 24.8px;
    text-decoration: none;
}

.menu div {
    padding: 4% 0 4% 0;
}

.menu div a {
    font-size: 27px;
    padding: 0 50px 0 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 + p {
    font-size: 33px;
    margin-top: 0;
}

/* Comportement du Formulaire */

form {
    width: 840px;
}

div#container_position_icon {
    width: 102px;
    bottom: 0px;
    border-radius: 30% 0 0 30% / 30% 0 0 30%;
}

div#container_position_icon i {
    padding-top: 34px;
    left: 35%;
    font-size: 35px;
}

form input {
    width: 471px;
    height: 100px;
    left: 12.2%;
    padding-left: 2%;
    font-size: 30px;
    border: 2px solid;
}

div#submit input {
    width: 268px;
    left: 68.3%;
    border-radius: 0 11% 11% 0 / 0 30% 30% 0;
    background-color: #0065FC;
    color: white;
    font-size: 30px;
}

div#magnifier input, div#magnifier i {
    display: none;
}

div#filter {
    padding: 2% 0 1% 0;
}

p#filter_title {
    font-size: 30px;
    margin: 0 2.4% 0 0.5%;
}

div.filter_element {
    border: 3px solid #d9d9d9;
    margin: 0 2% 0 0;
    border-radius: 60px;
    padding: 0 1.3% 0 0;
}

div.filter_element p {
    font-size: 30px;
    margin: 1% 0 0 30px;
}

div.filter_icon {
    height: 95px;
    width: 95px;
    margin-left: -1.1%;
}

div.filter_icon div {
    background-color: #DEEBFF;
    border-radius: 100%;
}

div.filter_icon div i {
    font-size: 38px;
    padding: 25%;
}

div.filter_element:hover {
    color: white;
    background-color: #0065FC;
}

div#info {
    height: 192px;
    font-size: 30px;
}

div#container_circle {
    width: 40px;
    height: 40px;
    margin: 0 1% 0 0.5%;
}

div#info_circle {
    border-radius: 100%;
    font-size: 22px;
}

main {
    padding: 0 4% 0 4%;
}

#block_center_heb {  
    width: 64%;
}

/* Les blocs contenant le titre les images et leur intitulé sont centrés et disposés en colonne à l'intérieur du conteneur "Hébergements à Marseille" */

div#container_center_heb_marseille {
    padding: 75px;
}

#block_center_aside {
    width: 32.9%;
}

/* Conteneur "Les plus populaires" dont la couleur de fond est grisée */

aside#container_pop {
    height: 100%;
}

div#title_graph div i {
    font-size: 43px;
}

/* Bloc centrant tous les éléments dans le conteneur "Les plus populaires */

div#container_center_pop {
    width: 82%;
}

h2#hebergements {
    margin-top: 0%;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui ont des espaces autour d'eux et qui vont à la ligne lorsqu'ils arrivent à la limite du bloc. A l'intérieur du conteneur "Hébergements à Marseille" */

div#container_img_heb_marseille {
    flex-wrap: wrap;
}

/* Dimension de l'image dans le conteneur "Hébergements à Marseille */

div.card_heb_marseille a img {
    width: 450px;
    height: 213px;
}

.card_heb_marseille {
    height: 381px;
    margin-bottom: 69px;
}

div.card_heb_marseille:hover {
    box-shadow: 0px 4px 20px 11px #e9d0d0;
}

div.container_heb_marseille_content {
    padding-left: 4%;
}

h3 + p {
    margin: 0;
}

#afficher_plus {
    font-size: 30px;
}

/* Disposition des intitulés et des étoiles dans le conteneur "Les plus populaires". En colonne et séparé par un espace */

div.container_pop_content {
    padding-right: 12%;
}

/* Les mots passent à la ligne quand ils arrivent à la limite du bloc dans le conteneur "Les plus populaires" */

div.container_pop_content div {
    word-wrap: break-word;
}

div.container_pop_content div h3 {
    padding: 10% 0 4%;
    margin: 0;
}

div.container_pop_content i {
    padding: 22% 0 0;
}

#container_act_marseille {
    margin-top: 2%;
}

div#img_act_marseille {
    height: 894px;
}

figure {
    width: 600px;
    margin: 0;
}

figure#card_fort_pomegues {
    flex-basis: auto;
}

figure#card_fort_pomegues img {
    height: 355px;
    object-position: 0px 40%;
}

figure#card_iles_frioul {
    flex-basis: auto;
}

figure#card_iles_frioul img {
    height: 231.4px;
    object-position: 0px 14%;
}

.card_figure_1 {
    height: 100%;
}

.card_figure_1 img {
    height: 878px;
    object-position: -360px;
    clip-path: inset(0 0 12.4% 0);
}

figure#card_dame_garde {
    flex-basis: auto;
}

figure#card_dame_garde img {
    height: 277px;
    object-position: 0 0%;
}

figure#card_longchamp {
    flex-basis: auto;
}

figure#card_longchamp img {
    height: 305px;
    object-position: 0 14%;
}

figcaption {
    font-size: 29px;
    height: 113px;
    padding: 45px 0 0 35px;
}

.figcaption_card_figure_1 {
    bottom: 110px;
}

/* Les éléments du pied de page sont alignés */

footer {
    flex-direction: row;
    height: 335px;
    margin-top: 120px;
}

footer div p {
    font-size: 30px;
    padding-top: 4%;
    margin-bottom: 3%;
}

footer ul {
    list-style-type: none;
}

.space_between_footer_links {
    padding: 0 0 2% 0;
}

/* responsiv pour les tablettes */

@media all and (max-width: 991px) {
    div#block_page{
        width: 100%;
    }

    .width_100_resp {
        width: 100%;
    }

    .text_center {
        text-align: center;
    }

    .justify_center_responsiv {
        justify-content: center ;
    }

    .flex_column_responsiv {
        flex-direction: column;
    }

    .width_auto {
        width: auto;
    }

    .height_img_pop {
        height: 270px;
    }

    .width_img_pop {
        max-width: 300px;
    }

    .space_betw_card_resp {
        margin-bottom: 7%;
    }

    a {
        font-size: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h1 + p {
        font-size: 37.5px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 27px;
    }

    div#filter_box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #block_center_heb {
        width: 100%;
    }

    #block_center_aside {
        width: 100%;
    }

    #block_center_act {
        padding: 0 6.8% 0 6.8%;
    }

    .padding_left_footer_resp {
        padding-left: 7%;
    }

    main {
        padding: 0%;
    }

    div#block_center_logo_nav {
        padding-left: 0px;
        padding-right: 0px;
    }

    div.block_center {
        padding: 0 7% 0 7%;
    }

    /* Pour la priorité, sinon pas appliqué */

    div#logo {
        width: 100%;
    }

    div#logo img {
        width: 190px;
        height: 90px;  
    }

    nav.menu.flex {
        height: 80px;
    }

    nav.menu div {
        padding-top: 0px;
        padding-bottom: 2%;
    }

    nav.menu div a {
        font-size: 30px;
        padding: 0 2% 0 2%;
    }

    .border_color_nav_heb {
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }

    .border_color_nav_act {
        border-bottom: 3px solid #F2F2F2;
    }

    .flex_column_mob {
        flex-direction: column;
    }
    
    /* Pour la priorité, sinon pas appliqué */
    
    aside#container_pop {
        width: 100%;
    }

    form input {
        width: 49.9%;
        left: 15.1%;
    }

    div#submit input {
        left: 65%;
        width: 35.7%;
    }

    div#container_position_icon {
        width: 15.1%;
    }

    div#filter {
        display: flex;
        flex-wrap: wrap;
    }

    p#filter_title {
        font-size: 32px;
        margin-bottom: 2%;
    }

    div.filter_element {
        margin: 2% 1% 0 0;
        padding: 0 5% 0 0;
    }

    div.filter_element p {
        font-size: 32px;
    }

    div#container_circle {
        width: 50px;
        margin: 0 5% 5.7% 0;
    }

    div#info p {
        padding-top: 5%;
        margin-bottom: 10%;
    }

    section {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    div#container_heb_marseille {
        width: 100%;
        background-color: white;
    }

    div#container_heb_marseille, aside#container_pop {
        border-radius: initial;
    }

    div#container_center_heb_marseille {
        width: 100%;
        padding: 70px 58px 5px 58px;
    }

    div.card_heb_marseille a img {
        width: 100%;
        height: 250px;
    }
    
    div.card_heb_marseille {
        height: 420px;
    }

    div#img_act_marseille {
        height: auto;
        flex-wrap: wrap;
    }

    #img_act_marseille div {
        margin: 0 0 7% 0;
        width: 100%;
    }

    div#container_center_pop {
        width: 86.7%;
    }
    
    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 357px;
    }
    
    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 273px;
    }

    .card_figure_1 img {
        object-position: 0 13.7%;
        clip-path: initial;
    }

    figure#card_fort_pomegues img {
        object-position: 0 41%;
    }

    figure#card_iles_frioul img {
        object-position: 0 14%;
    }

    figure#card_dame_garde img {
        object-position: 0 11%;
    }

    figure#card_longchamp img {
        object-position: 0 22.9%;
    }

    figcaption.figcaption_card_figure_1 {
        position: inherit;
    }

    figcaption {
        font-size: 29px;
        height: 0;
        padding: 3% 0 0 5.7%;
    }

    footer {
        margin-top: 50px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 717px */

@media all and (max-width: 840px) {

    a {
        font-size: 21.7px;
    }

    div#logo {
        height: 140px;
    }

    div#logo img {
        width: 120px;
        height: 70px;  
    }

    nav.menu div a {
        font-size: 30px;
    }

    h1 {
        font-size: 44px;
    }

    h1 + p {
        font-size: 33.2px;
    }

    h2 {
        font-size: 43px;
    }

    h3 {
        font-size: 33px;
    }

    h3 + p {
        font-size: 29.7px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 70px;
        width: 70px;
    }

    div.filter_icon div i {
        font-size: 35px;
    }

    p#filter_title {
        font-size: 30px;
    }

    div.filter_element p {
        font-size: 30px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 200px;
        font-size: 35px;
    }

    div#info_circle {
        font-size: 30px;
    }

    div#container_circle {
        height: 50px;
        width: 75px;
        margin: 0 3% 6% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 35.5px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 33px;
    }

    .width_img_pop {    
        max-width: 280px;
    }

    .height_img_pop {
        height: 290px;
    }

    .img_pop {
        margin: 0 4% 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 20% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 415px;
    }

    div.card_heb_marseille a img {
        height: 242px;
    }

    #container_act_marseille {
        align-items: center;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 400px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 302px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 33px;
        padding: 4% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 38px;
    }

    li a {
        font-size: 35px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 540px */

@media all and (max-width: 630px) {

    a {
        font-size: 16px;
    }

    div#logo {
        height: 90px;
    }

    div#logo img {
        width: 120px;
        height: 70px;  
    }

    nav.menu div a {
        font-size: 24px;
    }

    h1 {
        font-size: 34px;
    }

    h1 + p {
        font-size: 25.7px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 24px;
    }

    h3 + p {
        font-size: 21.7px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 50px;
        width: 50px;
    }

    div.filter_icon div i {
        font-size: 17px;
    }

    p#filter_title {
        font-size: 24px;
    }

    div.filter_element p {
        font-size: 24px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 140px;
        font-size: 25.7px;
    }

    div#info_circle {
        font-size: 20px;
    }

    div#container_circle {
        height: 35px;
        width: 50px;
        margin: 0 3% 6% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 27px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 33px;
    }

    .width_img_pop {    
        max-width: 210px;
    }

    .height_img_pop {
        height: 220px;
    }

    .img_pop {
        margin: 0 4% 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 20% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 310px;
    }

    div.card_heb_marseille a img {
        height: 180.7px;
    }

    #container_act_marseille {
        align-items: center;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 300px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 226px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 24.8px;
        padding: 4% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 30px;
    }

    li a {
        font-size: 27px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 425px */

@media all and (max-width: 500px) {

    a {
        font-size: 12px;
    }

    div#logo {
        height: 90px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    nav.menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
    }

    h1 + p {
        font-size: 17.3px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 16px;
    }

    h3 + p {
        font-size: 14.3px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 50px;
        width: 50px;
    }

    div.filter_icon div i {
        font-size: 17px;
    }

    p#filter_title {
        font-size: 17px;
    }

    div.filter_element p {
        font-size: 17px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 16px;
    }

    div#info_circle {
        font-size: 12px;
    }

    div#container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 15px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 20px;
    }

    .width_img_pop {    
        max-width: 140px;
    }

    .height_img_pop {
        height: 150px;
    }

    .img_pop {
        margin: 0 4% 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 20% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 235px;
    }

    div.card_heb_marseille a img {
        height: 142px;
    }

    #container_act_marseille {
        align-items: center;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 240px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 178px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 19.3px;
        padding: 5% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 23px;
    }

    li a {
        font-size: 21.3px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 375px */

@media all and (max-width: 450px) {

    a {
        font-size: 12px;
    }

    div#logo {
        height: 90px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    nav.menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
    }

    h1 + p {
        font-size: 17.3px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 16px;
    }

    h3 + p {
        font-size: 14.3px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 50px;
        width: 50px;
    }

    div.filter_icon div i {
        font-size: 17px;
    }

    p#filter_title {
        font-size: 17px;
    }

    div.filter_element p {
        font-size: 17px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 16px;
    }

    div#info_circle {
        font-size: 12px;
    }

    div#container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 15px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 20px;
    }

    .width_img_pop {    
        max-width: 140px;
    }

    .height_img_pop {
        height: 150px;
    }

    .img_pop {
        margin: 0 4% 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 20% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 215px;
    }

    div.card_heb_marseille a img {
        height: 125px;
    }

    #container_act_marseille {
        align-items: center;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 270px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 157px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 17px;
        padding: 5% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 20px;
    }

    li a {
        font-size: 18.4px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 320px */

@media all and (max-width: 400px) {

    a {
        font-size: 12px;
    }

    div#logo {
        height: 90px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    nav.menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h1 + p {
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    h3 + p {
        font-size: 12px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 40px;
        width: 40px;
    }

    div.filter_icon div i {
        font-size: 15px;
    }

    p#filter_title {
        font-size: 15px;
    }

    div.filter_element p {
        font-size: 15px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 14.8px;
    }

    div#info_circle {
        font-size: 12px;
    }

    div#container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 15px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 20px;
    }

    .width_img_pop {    
        max-width: 130px;
    }

    .height_img_pop {
        height: 140px;
    }

    .img_pop {
        margin: 0 10px 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 29% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 190px;
    }

    div.card_heb_marseille a img {
        height: 107px;
    }

    #container_act_marseille {
        align-items: center;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 200px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 140px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 14.4px;
        padding: 5% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 17px;
    }

    li a {
        font-size: 15.7px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 280px */

@media all and (max-width: 350px) {

    a {
        font-size: 8.7px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    nav.menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 17.7px;
    }

    h1 + p {
        font-size: 13.3px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 12px;
    }

    h3 + p {
        font-size: 11px;
    }

    .height_search {
        height: 40px;
    }

    div.block_center h1, div.block_center h1 + p {
        text-align: initial;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#submit input {
        display: none;
    }

    div#magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#magnifier i {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_icon {
        height: 40px;
        width: 40px;
    }

    div.filter_icon div i {
        font-size: 15px;
    }

    p#filter_title {
        font-size: 13px;
    }

    div.filter_element {
        margin: 2% 1% 0 0;
        padding: 0 5% 0 0;
    }

    div.filter_element p {
        font-size: 12px;
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 14.8px;
    }

    div#info_circle {
        font-size: 12px;
    }

    div#container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .border_radius_inside_main {
        border-radius: 20px / 20px;
    }

    .border_radius_img_heb {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_radius_img_act {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    #afficher_plus {
        font-size: 15px;
    }

    div#container_center_pop {
        width: 86.8%;
    }

    div#title_graph div i {
        font-size: 20px;
    }

    .width_img_pop {    
        max-width: 100px;
    }

    .height_img_pop {
        height: 110px;
    }

    .img_pop {
        margin: 0 10px 0 0;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
    }

    div.container_pop_content {
        padding-right: 7%;
    }

    div.container_pop_content i {
        padding: 17% 0 0;
    }

    div#container_center_heb_marseille {
        padding: 40px 6% 1% 6%;
    }

    div.card_heb_marseille {
        height: 160px;
    }

    div.card_heb_marseille a img {
        height: 90px;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 160px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 114px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 12.6px;
        padding: 5% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 15px;
    }

    li a {
        font-size: 13.7px;
    }

    .padding_left_footer_resp {
        padding-left: 8%;
    }
}