/* L'écriture de la page est complètement en "Raleway" par défaut et le box-sizing est appliqué à toute la page pour les navigateurs les plus fréquemment utilisés */

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/* Methode DRY */

.couleurnoire {
    color: black;
}

.couleurbleu {
    color: #0065FC;
}

.couleurgrise {
    color: #F2F2F2;
}

.fondcouleurgrise {
    background-color: #F2F2F2;
}

.fondcouleurblanche {
    background-color: white;
}

.bordurecouleurgrise {
    border-color:  #F2F2F2;
}

.bordurecouleurblanche10px {
    border: 10px solid white;
}

.affichageflex {
    display: flex;
}

.elementcolonne {
    flex-direction: column;
}

.espaceentreelements {
    justify-content: space-between;
}

.centrerelementsflexverticalement {
    align-items: center;
}

.positionabsolue {
    position: absolute;
}

.hauteur99px {
    height: 99px;
}

.enbas0px{
    bottom: 0px;
}

.largeur100pourcent {
    width: 100%;
}

.marge_ext0px {
    margin: 0;
}

.marge_int_gauche_34px {
    padding-left: 35px;
}

.marge_ext_haut2pourcent_bas2pourcent {
    margin: 2% 0 2% 0;
}

.img_pop256x270px {
    width: 256px;
    height: 270px;
}

/* Pour avoir une meilleure visibilité sur les éléments de la page web */

div {
    border: 1px solid black;
}

h1 {
    font-size: 31px;
    border: 1px solid violet;
}

figure {
    border: 1px solid red;
}

aside {
    border: 1px solid green;
}

nav {
    border: 1px solid blue;
}

div#bloc_icone_position {
    border: 1px solid aqua;
}

div.icone_filtre {
    border: 1px solid green;
}

/* Pour pouvoir centrer la page par rapport à sa largeur et hauteur */

div#bloc_page {
    width: 2880px;
    margin: auto;
}

/* Bloc contenant le logo */

div#logo {
    width: 50%;
}

/* Taille du logo */

div#logo p img {
    width: 120px;
    height: 57px;
}

/* Le menu du nav */

nav.menu {
    width: 50%;
}

/* Comportement et disposition des éléments du nav */

nav.menu.affichageflex {
    justify-content: flex-end;
}

ul.affichageflex {
    list-style-type: none;
}

/* Les élément du menu nav ont un espace vers la gauche */

ul.affichageflex li a {
    padding-right: 35px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

ul.affichageflex li a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 14px;
}

h1 + p {
    font-size: 23px;
}

/* Barre de recherche */

div#rechercher {
    position: relative;
}

/* Comportement du Formulaire */

form {
    width: 30%;
    border-radius: 5% 5% / 48% 40% ;
    border: 1px solid;
}

div#bloc_icone_position {
    width: 12%;
    border-radius: 30% 0 0 30% / 30% 0 0 30%;
}

div#bloc_icone_position i {
    padding-top: 34px;
    left: 35%;
    font-size: 35px;
}

form p {
    width: 50%;
    left: 102px;
    margin-bottom: 0px;
}

form p input {
    padding-left: 2%;
    font-size: 26px;
    font-weight: bold;
}

form div input {
    width: 30%;
    left: 62%;
    border-radius: 0 11% 11% 0 / 0 30% 30% 0;
    background-color: #0065FC;
    color: white;
    font-size: 35px;
}

/* Les éléments du filtre sont centrés */

div#filtres {
    height: 96px;
    font-size: 22px;
}

p.titre_filtre {
    margin-right: 66px;
}

div.elements_filtre {
    margin: 0 1.67% 0 0;
    border-radius: 20% / 50%;
}

div.elements_filtre p {
    height: 40px;
}

div.icone_filtre {
    border-radius: 80%;
}

p.info {
    font-size: 22px;
}

/* Conteneur "Hébergements à Marseille dont la couleur de fond est grisée */

div#conteneur_heb_marseille {
    width: 1764px;
}

/* Les blocs contenant le titre les images et leur intitulé sont centrés et disposés en colonne à l'intérieur du conteneur "Hébergements à Marseille" */

div#bloc_centrer_heb_marseille {
    width: auto;
    margin: auto;
    padding: 81px;
}

/* Conteneur "Les plus populaires" dont la couleur de fond est grisée */

aside#conteneur_plus_populaires {
    justify-content: center;
    width: 837px;
}

/* Bloc centrant tous les éléments dans le conteneur "Les plus populaires */

div#bloc_centrer_pop {
    width: 670px;
}

h2#hebergements {
    margin-top: 0%;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui ont des espaces autour d'eux et qui vont à la ligne lorsqu'ils arrivent à la limite du bloc. A l'intérieur du conteneur "Hébergements à Marseille" */

div#bloc_img_heb_marseille {
    flex-wrap: wrap;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui sont en colonne et centrés. A l'intérieur du conteneur "Les plus populaires" */

div#img_plus_populaires {
    height: 1004px;
}

/* Dimension de l'image dans le conteneur "Hébergements à Marseille */

div.dim_bloc_img_texte_etoile_heb_marseille a img {
    width: 473px;
    height: 228px;
    object-fit: cover;
    border-radius: 9% 9% 0 0 / 20% 20% 0 0;
}

div.dim_bloc_img_texte_etoile_heb_marseille {
    height: 381px;
    margin-bottom: 69px;
    border-radius: 11% / 14%;
}

div.carte_heb_marseille_titre_etoile {
    padding-left: 4%;
}

h3 + p {
    margin-top: 0;
}

/* Disposition des intitulés et des étoiles dans le conteneur "Les plus populaires". En colonne et séparé par un espace */

div.text_etoile {
    width: 300px;
}

/* Les mots passent à la ligne quand ils arrivent à la limite du bloc dans le conteneur "Les plus populaires" */

div.text_etoile div {
    word-wrap: break-word;
}

div.text_etoile div h3 {
    margin-bottom: 5%;
}

/* Les blocs contenant les images et leur intitulé. L'image à gauche, l'intitulé et les étoiles à droite de l'image. Ils sont centrés. Ils sont tous dans le conteneur "Les plus populaires" */

div.bloc_img_pop {
    border-radius: 8% / 17%;
}

p.img_pop {
    object-fit: contain;
    margin: 0 40px 0 0;
}

/* Taille des images dans le conteneur "Les plus populaires" */

p.img_pop img {
    border-radius: 15% 0 0 15% / 15% 0 0 15%; 
}

/* Les blocs contenant une seule figure à l'intérieur. Ils sont dans le conteneur "Activités à Marseille" */

div.img_bloc_act_marseille_1 a figure img {
    height: 890px;
}

/* Les blocs contenant deux figures à l'intérieur. Ils sont dans le conteneur "Activités à Marseille" */

div.img_bloc_act_marseille_2 a figure img {
    height: 472px;
}

figure {
    border-radius: 8% / 5%;
}

figure img {
    border-radius: 8% 8% 0 0 / 5% 5%;
}

/* Les éléments du pied de page sont alignés */

footer {
    flex-direction: row;
}

/* responsiv pour les tablettes */

@media all and (min-width: 768px) and (max-width: 991px) {
    div#bloc_page{
        width: 100%;
    }

    form {
        width: 100%;
    }

    section {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    div#conteneur_heb_marseille {
        width: 100%;
        background-color: white;
    }

    div#bloc_img_heb_marseille {
        flex-direction: column;
    }

    aside#conteneur_plus_populaires {
        width: auto;
    }

    div#img_act_marseille {
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Responsiv pour les mobiles */

@media all and (max-width: 767px) {
    div#bloc_page {
        width: 750px;
    }

    div#conteneur_logo_nav {
        flex-direction: column;
    }

    div#logo {
        width: auto;
    }

    div#logo p {
        text-align: center;
    }

    nav.menu.affichageflex {
        justify-content: center;
        width: 100%;
    }

    nav.menu ul {
        padding-left: 0px;
    }

    nav.menu ul li a:hover {
        padding-top: 0px;
        border-top: 0px;
        padding-bottom: 14px;
        border-bottom: 3px solid #0065FC;
    }

    form {
        width: 100%;
    }

    div#filtres {
        flex-wrap: wrap;
    }

    section {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    div#conteneur_heb_marseille {
        width: auto;
        background-color: white;
    }

    div#bloc_centrer_heb_marseille {
        width: auto;
    }

    div#bloc_img_heb_marseille {
        justify-content: center;
    }

    aside#conteneur_plus_populaires {
        width: auto;
    }

    section#conteneur_act_marseille {
        flex-direction: column;
    }

    div#img_act_marseille {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer div {
        width: auto;
    }
}