/* L'écriture de la page est complètement en "Raleway" par défaut et le box-sizing est appliqué à toute la page pour les navigateurs les plus fréquemment utilisés */

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/* Methode DRY */

.color_black {
    color: black;
}

.color_grey {
    color: #F2F2F2;
}

.color_blue {
    color: #0065FC;
}

.background_grey {
    background-color: #F2F2F2;
}

.background_white {
    background-color: white;
}

.border_grey {
    border: 3px solid #F2F2F2;
}

.border_white {
    border: 10px solid white;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.justify_space_between {
    justify-content: space-between;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.display_block {
    display: block;
}

.object_cover {
    object-fit: cover;
}

.bottom_0px{
    bottom: 0;
}

.width_100_percent {
    width: 100%;
}

.height_100_percent {
    height: 100%;
}

.margin_top_2_percent {
    margin-top: 2%;
}

.margin_bottom_2_percent {
    margin-bottom: 2%;
}

.star_size {
    width: 22px;
    height: 22px;
}

/* Pour avoir une meilleure visibilité sur les éléments de la page web */

div {
    border: 1px solid black;
}

div#logo {
    border: 3px solid hotpink;
}

p {
    border: 1px solid violet;
}

span {
    border: 1px solid green;
}

section {
    border: 1px solid aqua;
}

figure {
    border: 1px solid green;
}

/* Pour pouvoir centrer la page par rapport à sa largeur et hauteur */

div.block_page {
    width: 2880px;
    margin: auto;
}

div.block_centered {
    padding: 0 4.5% 0 4.5%;
}

/* Partie Nav */

div#container_logo_nav {
    padding: 0 4.5% 0 4.5%;
}

/* Bloc contenant le logo */

div#logo {
    height: 150px;
    padding-left: 0.5%;
}

.logo_width {
    width: 50%;
}

/* Taille du logo */

div#logo img {
    width: 150px;
    height: 70px;  
}

/* Le menu du nav */

.menu {
    height: 150px;
    width: 50%;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

/* Les élément du menu nav ont un espace vers la gauche */

.menu div {
    padding: 4% 0 4% 0;
}

.menu div a {
    font-size: 27px;
    padding: 0 50px 0 50px;
}

.nav_heb_border_color {
    border-top: 3px solid #0065FC;
}

h1 {
    font-size: 42.7px;
    margin-bottom: 10px;
}

h1 + p {
    font-size: 32.2px;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

.h2_graph_size {
    font-size: 41.8px;
}

h3 {
    font-size: 29.7px;
}

h3 + p {
    font-size: 26.3px;
    margin: 0;
}

/* Partie Formulaire */

div#search {
    height: 99px;
}

form {
    width: 32%;
}

div#form_container_position_icon {
    width: 12.3%;
    bottom: 0;
    border-radius: 30% 0 0 30% / 30% 0 0 30%;
}

img#form_position_icon {
    width: 40px;
    height: 60px;
    padding-top: 23%;
    left: 31%;
}

form input {
    width: 56.1%;
    height: 100px;
    left: 12.2%;
    padding-left: 2%;
    font-size: 30px;
    border: 1px solid  #F2F2F2;
}

div#form_submit input {
    width: 32%;
    left: 68.3%;
    border-radius: 0 11% 11% 0 / 0 30% 30% 0;
    background-color: #0065FC;
    color: white;
    font-size: 30px;
}

div#form_magnifier input, div#form_magnifier img {
    display: none;
}

/* Partie "Filtres" */

div#filter {
    padding: 2% 0 1% 0;
}

p#filter_title {
    margin: 0 2.4% 0 0.5%;
    font-size: 33px;
}

div.filter_elements {
    margin: 0 2% 0 0;
    border-radius: 60px;
    padding: 0 1.3% 0 0;
}

div.filter_container_circle_icon {
    height: 95px;
    width: 95px;
    margin-left: -1.1%;
}

div.filter_circle {
    background-color: #DEEBFF;
    border-radius: 100%;
}

.filter_icon_size {
    width: 40px;
    height: 40px;
}

i.filter_icon {
    padding: 25%;
}

p.filter_label {
    margin: 1% 0 0 30px;
    font-size: 33px;
}

div.filter_elements:hover {
    color: white;
    background-color: #0065FC;
}

div#info {
    height: 192px;
    font-size: 31.4px;
}

div#info_container_circle {
    width: 50px;
    height: 50px;
    margin: 0 1% 0 0.5%;
    border-radius: 100%;
}

img#info_icon_size {
    width: 23px;
    height: 23px;
}

.main_border_radius {
    border-radius: 50px / 50px;
}

section {
    padding: 0 4% 0 4%;
}

/*Partie "Hébergements à Marseille" */

/* Les blocs contenant le titre les images et leur intitulé sont centrés et disposés en colonne à l'intérieur du conteneur "Hébergements à Marseille" */

div#heb_container {
    padding: 3%;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui ont des espaces autour d'eux et qui vont à la ligne lorsqu'ils arrivent à la limite du bloc. A l'intérieur du conteneur "Hébergements à Marseille" */

div#heb_container_img {
    flex-wrap: wrap;
}

.heb_card {
    height: 360px;
    margin-bottom: 3%;
    box-shadow: 0 4px 12px 5px #e4e4e4;
}

div.heb_card:hover {
    box-shadow: 0 4px 20px 11px #e9d0d0;
}

.heb_container_content {
    padding-left: 4%;
}

.heb_container_width {
    width: 65%;
}

.heb_img {
    width: 450px;
    height: 213px;
    border-radius: 40px 40px 0 0 / 40px 40px 0 0;
}

.heb_star {
    margin-top: 2%;
}

.shadow_deep_heb {
    box-shadow: 0 4px 20px 11px #e4e4e4;
}

#heb_show_more {
    font-size: 34.5px;
    margin-bottom: 0;
}

/* Partie "Les plus populaires" */

img#graph {
    width: 50px;
}

.pop_container_content {
    width: 480px;
    padding-right: 7%;
}

.pop_container_width {
    width: 32%;
}

#pop_container {
    padding: 3%;
}

.pop_card {
    box-shadow: 0 4px 11px 4px #e4e4e4;
}

.pop_img {
    max-width: 240px;
    height: 250px;
    margin: 0 6% 0 0;
    border-radius: 40px 0 0 40px / 40px 0 0 40px; 
}

.pop_card_margin_bottom {
    margin-bottom: 8%;
}

.pop_star_top {
    top: 29%;
}

/* Partie "Activités à Marseille" */

div#act_containers_img {
    height: 894px;
}

figure {
    margin: 0;
}

figure#card_fort_pomegues {
    flex-basis: auto;
}

figure#card_fort_pomegues img {
    height: 355px;
    object-position: 0 40%;
}

figure#card_iles_frioul {
    flex-basis: auto;
}

figure#card_iles_frioul img {
    height: 210px;
    object-position: 0 19%;
}

.card_figure_1 img {
    object-position: -360px;
    clip-path: inset(0 0 12.4% 0);
}

figure#card_dame_garde {
    flex-basis: auto;
}

figure#card_dame_garde img {
    height: 277px;
    object-position: 0 0%;
}

figure#card_longchamp {
    flex-basis: auto;
}

figure#card_longchamp img {
    height: 290px;
    object-position: 0 19%;
}

figcaption {
    font-size: 29px;
    height: 113px;
    padding: 45px 0 0 35px;
}

.figcaption_card_figure_1 {
    bottom: 110px;
}

.act_figure_margin_right {
    margin-right: 2.5%;
}

.act_img_border_radius {
    border-radius: 50px 50px 0 0 / 50px 50px 0 0;
}

/* Les éléments du pied de page sont alignés */

footer {
    flex-direction: row;
    margin-top: 2%;
}

.footer_propos_width {
    width: 90%;
}

.footer_heb_width {
    width: 90%;
}

footer div p {
    font-size: 30px;
    padding-top: 4%;
    margin-bottom: 3%;
}

ul {
    list-style-type: none;
    font-size: 28px;
}

.footer_propos_padding_left {
    padding-left: 13%;
}

.footer_heb_padding_left {
    padding-left: 6%;
}

.footer_assist_padding_left {
    padding-left: 4%;
}

.footer_assist_padding_top {
    padding-top: 3.6%;
}

.space_between_footer_links {
    padding: 0 0 2% 0;
}

.footer_margin_bottom {
    margin-bottom: 8%;
}

/* Responsiv pour les écrans dont la largeur est égale à 2560px */

@media all and (max-width: 2980px) {
    div.block_page {
        width: 100%;
    }

    h1 {
        font-size: 44px;
    }

    h1 + p {
        font-size: 33px;
    }

    div#search {
        height: 100px;
    }

    img#form_position_icon {
        padding-top: 30%;
    }

    p#filter_title {
        font-size: 35px;
    }

    p.filter_label {
        font-size: 35px;
    }

    .heb_img {
        width: 480px;
        height: 230px;
    }

    .pop_img {
        height: 255px;
        max-width: 250px;
    }

    div#act_containers_img {
        height: 908px;
    }

    figure#card_fort_pomegues img {
        height: 370px;
    }

    figure#card_iles_frioul img {
        height: 225px;
    }

    figure#card_dame_garde img {
        height: 295px;
    }

    figure#card_longchamp img {
        height: 300px;
        object-position: 0 23%;
    }
}

/* Responsiv pour les écrans dont la largeur est égale à 1440px */

@media all and (max-width: 1680px) {

    .star_size {
        width: 11px;
        height: 11px;
    }

    h1 {
        font-size: 23.8px;
    }

    h1 + p {
        font-size: 18px;
    }

    .h2_graph_size {
        font-size: 24px;
    }

    h3 {
        font-size: 17.3px;
    }

    h3 + p {
        font-size: 15.4px;
    }

    div#search {
        height: 60px;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 3px solid white;
    }

    .heb_img {
        width: 265px;
        height: 125px;
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .pop_img {
        max-width: 140px;
        height: 150px;
        border-radius: 20px 0 0 20px / 20px 0 0 20px;
    }

    .pop_star_spadding_top {
        top: 26%;
    }

    .footer_propos_padding_left {
        padding-left: 13%;
    }
    
    .footer_heb_padding_left {
        padding-left: 8%;
    }
    
    .footer_assist_padding_left {
        padding-left: 6%;
    }

    div#logo {
        height: 90px;
        padding-left: 0.9%;
    }

    div#logo img {
        width: 90px;
        height: 45px;
    }

    .menu {
        height: 90px;
    }

    .menu div {
        padding: 5% 0 5% 0;
    }

    .menu div a {
        font-size: 16px;
    }

    form {
        width: 30.7%;
    }

    div#form_container_position_icon {
        width: 11.8%;
    }

    div#form_container_position_icon i {
        padding-top: 35%;
        font-size: 20px;
    }

    form input {
        width: 57.5%;
        left: 11.8%;
        padding-left: 4%;
        font-size: 20px;
    }

    div#form_submit input {
        left: 68.8%;
        padding-left: 2%;
        font-size: 20px;
    }

    p#filter_title {
        font-size: 20px;
    }

    div.filter_container_circle_icon {
        height: 55px;
        width: 55px;
    }

    .filter_icon_size {
        width: 25px;
        height: 25px;
    }
    
    p.filter_label {
        margin: 1% 0 0 10px;
        font-size: 20px;
    }
    
    div#info {
        height: 100px;
        font-size: 17px;
    }

    div#info_container_circle {
        width: 35px;
        height: 35px;
    }

    img#info_icon_size {
        width: 14px;
        height: 14px;
    }

    .heb_card {
        height: 210px;
        margin-bottom: 4%;
    }

    #heb_show_more {
        font-size: 19.5px;
    }

    img#graph {
        width: 25px;
    }

    .pop_container_content {
        width: 290px;
    }

    div#act_containers_img {
        height: 520px;
    }

    .card_figure_1 img {
        object-position: 50% 13.7%;
    }

    figure#card_fort_pomegues img {
        height: 220px;
        object-position: 0 38%;
    }

    figure#card_iles_frioul img {
        height: 130px;
        object-position: 0 17.3%;
    }

    figure#card_dame_garde img {
        height: 158.6px;
        object-position: 0 7%;
    }

    figure#card_longchamp img {
        height: 190px;
        object-position: 0 0%;
    }

    figcaption.figcaption_card_figure_1 {
       bottom: 61px;
    }

    figcaption {
        font-size: 18.4px;
        height: 55px;
        padding: 5% 0 0 5.7%;
    }

    .shadow_box_act {
        box-shadow: 0 4px 10px 6px #f0f0f0;
    }

    footer {
        height: 200px;
    }

    footer div p {
        font-size: 18px;
    }

    ul {
        font-size: 16px;
    }
}

/* Responsiv pour les écrans dont la largeur est égale à 1280px */

@media all and (max-width: 1490px) {

    .star_size {
        width: 9px;
        height: 9px;
    }

    h1 {
        font-size: 21px;
    }

    h1 + p {
        font-size: 16px;
    }

    .h2_graph_size {
        font-size: 22.4px;
    }

    h3 {
        font-size: 15px;
    }

    h3 + p {
        font-size: 13.4px;
    }

    div#search {
        height: 53px;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 3px solid white;
    }

    .heb_img {
        width: 230px;
        height: 120px;
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .pop_img {
        max-width: 140px;
        height: 140px;
    }

    .pop_star_spadding_top {
        top: 30%;
    }

    .footer_propos_padding_left {
        padding-left: 13%;
    }
    
    .footer_heb_padding_left {
        padding-left: 8%;
    }
    
    .footer_assist_padding_left {
        padding-left: 6%;
    }

    div#logo img {
        width: 100px;
        height: 50px;
    }

    .menu {
        height: 90px;
    }

    .menu div {
        padding: 5% 0 5% 0;
    }

    .menu div a {
        font-size: 16px;
    }

    form {
        width: 30.7%;
    }

    div#form_container_position_icon i {
        padding-top: 34%;
        font-size: 18px;
    }

    form input {
        left: 11.8%;
        padding-left: 4%;
        font-size: 18px;
    }

    div#form_submit input {
        left: 68.8%;
        padding-left: 2%;
        font-size: 18px;
    }

    p#filter_title {
        font-size: 17.3px;
    }

    div.filter_container_circle_icon {
        height: 50px;
        width: 50px;
    }

    .filter_icon_size {
        width: 20px;
        height: 20px;
    }
    
    p.filter_label {
        margin: 1% 0 0 10px;
        font-size: 17.3px;
    }
    
    div#info {
        height: 100px;
        font-size: 17px;
    }

    div#info_container_circle {
        width: 35px;
        height: 35px;
    }

    .heb_card {
        height: 195px;
        margin-bottom: 4%;
    }

    #heb_show_more {
        font-size: 17px;
    }

    .pop_container_content {
        width: 250px;
    }

    div#act_containers_img {
        height: 470px;
    }

    .card_figure_1 img {
        object-position: 50% 13.7%;
    }

    figure#card_fort_pomegues img {
        height: 180px;
        object-position: 0 41%;
    }

    figure#card_iles_frioul img {
        height: 120px;
        object-position: 0 14%;
    }

    figure#card_dame_garde img {
        height: 144px;
        object-position: 0 1%;
    }

    figure#card_longchamp img {
        height: 155px;
        object-position: 0 11%;
    }

    figcaption.figcaption_card_figure_1 {
       bottom: 61px;
    }

    figcaption {
        font-size: 16px;
        height: 55px;
        padding: 5% 0 0 5.7%;
    }

    footer {
        height: 200px;
    }

    footer div p {
        font-size: 18px;
    }

    ul {
        font-size: 16px;
    }
}

/* Responsiv pour les écrans dont la largeur est égale à 1024px */

@media all and (max-width: 1200px) {

    .star_size {
        width: 7px;
        height: 7px;
    }

    h1 {
        font-size: 17px;
    }

    h1 + p {
        font-size: 12.7px;
    }

    .h2_graph_size {
        font-size: 17px;
    }

    h3 {
        font-size: 12px;
    }

    h3 + p {
        font-size: 10.7px;
    }

    div#search {
        height: 40px;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 3px solid white;
    }

    .heb_img {
        width: 185px;
        height: 85px;
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .pop_img {
        max-width: 100px;
        height: 108px;
    }

    div#logo {
        height: 70px;
        padding-left: 0;
    }

    div#logo img {
        width: 75px;
        height: 35px;
    }

    .menu {
        height: 70px;
    }

    .menu div {
        padding: 4% 0 5% 0;
    }

    .menu div a {
        font-size: 12px;
        padding: 0 30px 0 30px;
    }

    form {
        width: 30.7%;
    }

    div#form_container_position_icon i {
        padding-top: 33%;
        font-size: 13.8px;
    }

    form input {
        left: 11.8%;
        padding-left: 4%;
        font-size: 13.8px;
    }

    div#form_submit input {
        left: 68.8%;
        padding-left: 2%;
        font-size: 13.8px;
    }

    p#filter_title {
        font-size: 39px;
    }

    div.filter_container_circle_icon {
        height: 37px;
        width: 37px;
    }

    .filter_icon_size {
        width: 45px;
        height: 45px;
    }
    
    p.filter_label {
        margin: 1% 0 0 10px;
        font-size: 38px;
    }
    
    div#info {
        height: 70px;
        font-size: 11.7px;
    }

    div#info_container_circle {
        width: 25px;
        height: 25px;
    }

    img#info_icon_size {
        width: 28px;
        height: 28px;
    }

    .heb_card {
        height: 145px;
        margin-bottom: 5%;
    }

    #heb_show_more {
        font-size: 14px;
    }

    img#graph {
        width: 20px;
    }

    .pop_container_content {
        width: 200px;
    }

    .pop_star_spadding_top {
        top: 26%;
    }

    .container_pop_content {
        width: 270px;
    }

    div#act_containers_img {
        height: 370px;
    }

    .card_figure_1 img {
        object-position: 50% 13.7%;
    }

    figure#card_fort_pomegues img {
        height: 142px;
        object-position: 0 41%;
    }

    figure#card_iles_frioul img {
        height: 94.3px;
        object-position: 0 13.7%;
    }

    figure#card_dame_garde img {
        height: 114px;
        object-position: 0 4%;
    }

    figure#card_longchamp img {
        height: 123px;
        object-position: 0 18%;
    }

    figcaption.figcaption_card_figure_1 {
       bottom: 45px;
    }

    figcaption {
        font-size: 13px;
        height: 41px;
        padding: 5% 0 0 5.7%;
    }

    footer {
        height: 170px;
    }

    footer div p {
        font-size: 15px;
    }

    ul {
        font-size: 13.4px;
    }
}

/* responsiv pour les tablettes dont la largeur est égale à 768px */

@media all and (max-width: 991px) {

    .width_100_resp {
        width: 100%;
    }

    .text_center {
        text-align: center;
    }

    .justify_center_responsiv {
        justify-content: center ;
    }

    .flex_column_responsiv {
        flex-direction: column;
    }

    .width_auto {
        width: auto;
    }

    div#search {
        height: 115px;
    }
    
    .heb_img {
        height: 250px;
        border-radius: 50px 50px 0 0 / 50px 50px 0 0;
        object-position: 0 50%;
    }

    #pop_container {
        padding: 10% 7%;
    }

    .border_white {
        border: 10px solid white;
    }

    .main_border_radius {
        border-radius: 50px / 50px;
    }

    .act_img_border_radius {
        border-radius: 50px 50px 0 0 / 50px 50px 0 0;
    }

    .shadow_box_act {
        box-shadow: 0 9px 14px 2px #f0f0f0;
    }

    .space_betw_card_resp {
        margin-bottom: 5%;
    }

    .footer_resp_padding_left {
        padding-left: 8%;
    }

    .star_size {
        width: 29px;
        height: 29px;
    }

    h1 {
        font-size: 48px;
    }

    h1 + p {
        font-size: 36.4px;
        margin: 3% 0 0 0;
    }

    .h2_graph_size {
        font-size: 48.9px;
    }

    h3 {
        font-size: 36.2px;
    }

    h3 + p {
        font-size: 33.4px;
    }

    .margin_bottom_pop {
        margin-bottom: 10%;
    }

    div#filter_box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div#container_logo_nav {
        padding-left: 0;
        padding-right: 0;
    }

    div.block_centered {
        padding: 0 7% 0 7%;
    }

    div#logo {
        height: 150px;
    }

    div#logo img {
        width: 190px;
        height: 90px;  
    }

    .menu {
        height: 80px;
    }

    .menu div {
        padding-top: 0;
        padding-bottom: 2%;
    }

    .menu div a {
        font-size: 36.8px;
        padding: 0 2% 0 2%;
    }

    .nav_heb_border_color {
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }

    .nav_act_border_color {
        border-bottom: 3px solid #F2F2F2;
    }

    .flex_column_mob {
        flex-direction: column;
    }

    div#search {
        margin: 10% 0 8% 0;
    }

    form input {
        width: 70.2%;
        left: 15%;
        font-size: 40px;
    }

    div#form_container_position_icon i {
        padding-top: 30%;
        left: 37%;
        font-size: 40px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
    }

    div#form_magnifier img {
        display: initial;
        position: absolute;
        left: 90.7%;
        top: 35%;
        color: white;
        width: 40px;
        height: 40px;
    }

    div#form_container_position_icon {
        width: 15.1%;
    }

    div#filter {
        display: flex;
        flex-wrap: wrap;
    }

    div.filter_container_circle_icon {
        height: 100px;
        width: 100px;
    }

    p#filter_title {
        margin-bottom: 2%;
    }

    div.filter_elements {
        margin: 2% 1% 0 0;
        padding: 0 4% 0 0;
    }

    p.filter_label {
        margin: 1% 0 0 30px;
    }

    div#info {
        height: 220px;
        font-size: 36.9px;
    }

    div#info_container_circle {
        height: 50px;
        width: 70px;
        margin: 0 3% 5.7% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    main {
        padding: 0;
    }

    section {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 0;
    }

    div#heb_container {
        padding: 7%;
        background-color: white;
    }

    div#heb_container, div#pop_container {
        border-radius: initial;
    }

    .heb_card {
        height: 430px;
        box-shadow: 0 8px 20px 8px #e4e4e4;
    }

    #act_container {
        padding: 0 6.8% 0 6.8%;
    }

    div#act_containers_img {
        height: auto;
        flex-wrap: wrap;
    }

    #act_containers_img div {
        margin: 0 0 7% 0;
    }

    #heb_show_more {
        font-size: 40px;
        margin-bottom: 8%;
    }

    img#graph {
        width: 55px;
    }

    .pop_img {
        max-width: 300px;
        height: 320px;
        margin: 0 4% 0 0;              
        object-position: 51% 40%;
        clip-path: inset(0 3% 0 0);
        border-radius: 50px 0 0 50px / 50px 0 0 50px;
    }

    .pop_container_content {
        width: 525px;
    }

    .pop_star_spadding_top {
        top: 32%;
    }
    
    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 420px;
    }
    
    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 320px;
    }

    .card_figure_1 img {
        object-position: 0 13.7%;
        clip-path: initial;
    }

    figure#card_fort_pomegues img {
        object-position: 0 41%;
    }

    figure#card_iles_frioul img {
        object-position: 0 14%;
    }

    figure#card_dame_garde img {
        object-position: 0 11%;
    }

    figure#card_longchamp img {
        object-position: 0 22.9%;
    }

    figcaption.figcaption_card_figure_1 {
        position: inherit;
    }

    figcaption {
        font-size: 35px;
        height: 0;
        padding: 3% 0 0 5.7%;
    }

    footer {
        margin-top: 50px;
    }

    footer div p {
        font-size: 42px;
    }

    ul {
        font-size: 37px;
    }

    .footer_margin_bottom {
        margin-bottom: 2%;
    }

    .footer_margin_bottom_responsiv {
        margin-bottom: 10%;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 540px */

@media all and (max-width: 630px) {

    .star_size {
        width: 18px;
        height: 18px;
    }

    div#logo {
        height: 90px;
    }

    div#logo img {
        width: 120px;
        height: 70px;  
    }

    .menu div a {
        font-size: 24px;
    }

    h1 {
        font-size: 34px;
    }

    h1 + p {
        font-size: 25.7px;
    }

    .h2_graph_size {
        font-size: 33px;
    }

    h3 {
        font-size: 24px;
    }

    h3 + p {
        font-size: 21.7px;
    }

    div#search {
        height: 80px;
    }

    div.block_centered h1, div.block_centered h1 + p {
        text-align: initial;
    }

    form input {
        font-size: 30px;
    }

    div#form_container_position_icon i {
        font-size: 30px;
    }

    div#form_magnifier img {
        font-size: 30px;
    }

    p#filter_title {
        font-size: 28px;
    }

    div.filter_container_circle_icon {
        height: 70px;
        width: 70px;
    }

    .filter_icon_size {
        width: 30px;
        height: 30px;
    }

    p.filter_label {
        margin: 1% 0 0 20px;
        font-size: 27px;
    }

    div#info {
        height: 140px;
        font-size: 25.7px;
    }

    div#info_container_circle {
        height: 35px;
        width: 50px;
        margin: 0 3% 6% 0;
    }

    img#info_icon_size {
        width: 19px;
        height: 19px;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 310px;
        box-shadow: 0 2px 11px 0px #e4e4e4;
    }

    #heb_show_more {
        font-size: 27px;
    }

    .heb_img {
        height: 180.7px;
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    img#graph {
        width: 37px;
    }

    .pop_img {    
        max-width: 210px;
        height: 220px;
        border-radius: 17px 0 0 17px / 17px 0 0 17px;
    }

    .pop_container_content {
        width: 380px;
    }

    .pop_star_spadding_top {
        top: 34%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 300px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 226px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 24.8px;
        padding: 4% 0 0 5.7%;
    }
    
    footer {
        height: auto;
    }

    footer div p {
        font-size: 30px;
    }

    ul {
        font-size: 27px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 425px */

@media all and (max-width: 495px) {

    .star_size {
        font-size: 12px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu {
        height: 60px;
    }

    .menu div a {
        font-size: 20px;
    }

    h1 {
        font-size: 27px;
    }

    h1 + p {
        font-size: 20.2px;
    }

    .h2_graph_size {
        font-size: 25.8px;
    }

    h3 {
        font-size: 19.1px;
    }

    h3 + p {
        font-size: 17.2px;
    }

    div#search {
        height: 65px;
    }

    .heb_img {
        height: 142px;
    }

    .shadow_box_act {
        box-shadow: 0 4px 11px 4px #f0f0f0;
    }

    form input {
        font-size: 23px;
    }

    div#form_container_position_icon i {
        font-size: 23px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier img {
        font-size: 23px;
    }

    div.filter_container_circle_icon {
        height: 50px;
        width: 50px;
    }

    p.filter_label {
        margin: 1% 0 0 20px;
    }

    div#info {
        height: 100px;
        font-size: 20.4px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 235px;
        box-shadow: 0 6px 11px 2px #e4e4e4;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_img {    
        max-width: 160px;
        height: 170px;
    }

    .pop_container_content {
        width: 300px;
    }

    .pop_star_spadding_top {
        top: 30%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 240px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 178px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 19.3px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 23px;
    }

    ul{
        font-size: 21.3px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 411px et 414 px */

@media all and (max-width: 493.1px) {

    .star_size {
        font-size: 12px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu div a {
        font-size: 20px;
    }

    h1 {
        font-size: 27px;
    }

    h1 + p {
        font-size: 20.2px;
    }

    .h2_graph_size {
        font-size: 25.8px;
    }

    h3 {
        font-size: 19.1px;
    }

    h3 + p {
        font-size: 17.2px;
    }

    div#search {
        height: 65px;
    }

    form input {
        font-size: 23px;
    }

    div#form_container_position_icon i {
        font-size: 23px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier img {
        font-size: 23px;
    }

    div.filter_container_circle_icon {
        height: 50px;
        width: 50px;
    }

    p.filter_label {
        margin: 1% 0 0 20px;
    }

    div#info {
        height: 100px;
        font-size: 19.7px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 235px;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_container_content {
        width: 280px;
    }

    .pop_star_spadding_top {
        top: 30%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 240px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 178px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 19.3px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 23px;
    }

    ul{
        font-size: 21.3px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 375px */

@media all and (max-width: 450px) {

    .star_size {
        font-size: 10.5px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu div a {
        font-size: 18px;
    }

    h1 {
        font-size: 23.7px;
    }

    h1 + p {
        font-size: 17.8px;
    }

    .h2_graph_size {
        font-size: 23.7px;
    }

    h3 {
        font-size: 17px;
    }

    h3 + p {
        font-size: 15.3px;
    }

    div#search {
        height: 60px;
    }

    .heb_img {
        height: 125px;
    }

    form input {
        font-size: 20.7px;
    }

    div#form_container_position_icon i {
        font-size: 20.7px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier img {
        font-size: 20.7px;
    }

    div.filter_container_circle_icon {
        height: 45px;
        width: 45px;
    }

    p.filter_label {
        margin: 1% 0 0 15px;
    }

    div#info {
        height: 100px;
        font-size: 17.9px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 215px;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_img {    
        max-width: 145px;
        height: 155px;
    }

    .pop_container_content {
        width: 260px;
    }

    .pop_star_spadding_top {
        top: 30%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 220px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 157px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 17px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 20px;
    }

    ul {
        font-size: 18.4px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 360px */

@media all and (max-width: 425px) {

    .star_size {
        font-size: 10.5px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 23.7px;
    }

    h1 + p {
        font-size: 17.8px;
    }

    .h2_graph_size {
        font-size: 23.7px;
    }

    h3 {
        font-size: 17px;
    }

    h3 + p {
        font-size: 15.3px;
    }

    div#search {
        height: 60px;
    }

    form input {
        font-size: 20.7px;
    }

    div#form_container_position_icon i {
        font-size: 20.7px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier img {
        font-size: 20.7px;
    }

    div.filter_container_circle_icon {
        height: 45px;
        width: 45px;
    }

    p.filter_label {
        margin: 1% 0 0 15px;
    }

    div#info {
        height: 100px;
        font-size: 17.1px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 215px;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_container_content {
        width: 240px;
    }

    .pop_star_spadding_top {
        top: 30%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 220px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 157px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 17px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 20px;
    }

    ul {
        font-size: 18.4px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 320px */

@media all and (max-width: 400px) {

    .star_size {
        font-size: 8px;
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu {
        height: 50px;
    }

    .menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h1 + p {
        font-size: 15px;
    }

    .h2_graph_size {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    h3 + p {
        font-size: 12.6px;
    }

    div#search {
        height: 47px;
    }

    .heb_img {
        height: 107px;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#form_container_position_icon i {
        padding-top: 15px;
        left: 37%;
        font-size: 16px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
    }

    div#form_magnifier img {
        display: initial;
        position: absolute;
        left: 90.7%;
        top: 35%;
        color: white;
        font-size: 16px;
    }

    div.filter_container_circle_icon {
        height: 40px;
        width: 40px;
    }

    p.filter_label {
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 15px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 185px;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_img {    
        max-width: 130px;
        height: 140px;
    }

    .pop_container_content {
        width: 200px;
    }

    .pop_star_spadding_top {
        top: 33%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 200px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 140px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 14.4px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 17px;
    }

    ul {
        font-size: 15.7px;
    }
}

/* Responsiv pour les mobiles dont la largeur est égale à 280px */

@media all and (max-width: 350px) {

    .star_size {
        font-size: 8.7px;
    }

    .border_grey_deep {
        border: 2px solid #d9d9d9
    }

    div#logo img {
        width: 100px;
        height: 50px;  
    }

    .menu {
        height: 50px;
    }

    .menu div a {
        font-size: 15px;
    }

    h1 {
        font-size: 17.7px;
    }

    h1 + p {
        font-size: 13.3px;
    }

    .h2_graph_size {
        font-size: 17px;
    }

    h3 {
        font-size: 12px;
    }

    h3 + p {
        font-size: 11px;
    }

    div#search {
        height: 40px;
    }

    .heb_img {
        height: 90px;
    }

    form input {
        width: 70.2%;
        font-size: 16px;
    }

    div#form_container_position_icon i {
        padding-top: 10px;
        left: 37%;
        font-size: 16px;
    }

    div#form_submit input {
        display: none;
    }

    div#form_magnifier input {
        display: initial;
        width: 15%;
        left: 85.5%;
        border-radius: 30%;
        background-color: #0065FC;
        padding: 15px;
    }

    div#form_magnifier img {
        display: initial;
        position: absolute;
        left: 91%;
        top: 30%;
        color: white;
        font-size: 16px;
    }

    div.filter_container_circle_icon {
        height: 31px;
        width: 31px;
    }

    div.filter_elements {
        margin: 2% 1% 0 0;
        padding: 0 5% 0 0;
    }

    p.filter_label {
        margin: 1% 0 0 10px;
    }

    div#info {
        height: 100px;
        font-size: 12.8px;
    }

    div#info_container_circle {
        height: 25px;
        width: 32px;
        margin: 0 3% 5% 0;
    }

    div#info p {
        padding-top: 0%;
        margin: 0;
    }

    .main_border_radius {
        border-radius: 20px / 20px;
    }

    .act_img_border_radius {
        border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    }

    .border_white {
        border: 4px solid white;
    }

    .heb_card {
        height: 160px;
    }

    #heb_show_more {
        font-size: 15px;
    }

    .pop_img {    
        max-width: 100px;
        height: 110px;
    }

    .pop_container_content {
        width: 180px;
    }

    .pop_star_spadding_top {
        top: 25%;
    }

    figure#card_fort_pomegues, figure#card_iles_frioul, figure#card_dame_garde, figure#card_longchamp, .card_figure_1 {
        height: 160px;
    }

    figure#card_fort_pomegues img, figure#card_iles_frioul img, figure#card_dame_garde img, figure#card_longchamp img, .card_figure_1 img {
        height: 114px;
    }

    .card_figure_1 img {
        object-position: 0 10%;
    }

    figure#card_iles_frioul img {
        object-position: 0 10%;
    }

    figure#card_dame_garde img {
        object-position: 0 6%;
    }

    figure#card_longchamp img {
        object-position: 0 21%;
    }
    
    figcaption {
        font-size: 12.6px;
        padding: 5% 0 0 5.7%;
    }

    footer div p {
        font-size: 15px;
    }

    ul {
        font-size: 13.7px;
    }
}